@import-normalize;
/* bring in normalize.css styles */

@import-normalize;
/* bring in normalize.css styles */

body {
  font-family: sans-serif;
  line-height: 1.5;
  background-color: #f0f0f0;
}

p {
  padding: 0;
  margin: 0;
}